.App {
  text-align: center;
  height: 100vh;
  width: 100wh;
}
#time {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  min-width: 90%;
}

#hour {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 30%;
  padding: 5px 10px;
  font-size: 18px;
  line-height: 18px;
  border-radius: 3px;
  text-align: center;
}
.map-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#info {
  display: block;
  position: relative;
  margin: 0px auto;
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  color: #222;
  background: #fff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
